<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="banner hp-image">
    <div class="tagline">
      <h1>Quem quer queijo?</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <div class="row no-gutters">
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 1">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="../assets/images/TAB_1596.jpg" alt="Slide 1">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 1">
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row no-gutters" >
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 2">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 2">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 2">
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row no-gutters" >
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 3">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 3">
          </div>
          <div class="col-xs-4">
              <img id="smallImage" src="" alt="Slide 3">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h2>
      Revendedora
      <a href="https://www.terralimpida.com" target="_blank">Terra Límpida.</a>
    </h2>
  </div>
</div>
