<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Quem quer queijo?</h1>
  <h2>
    Revendedora
    <a href="https://www.https://www.instagram.com/terralimpida//">Terra Límpida.</a>
  </h2>
</div>
