<div class="col-md-6 col-md-offset-3">
  <li>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Edite esse produto", edit_product_path(product) %>
    <% end %>
    <%= product.name %>
    <%= product.description%>
    <%= product.available?%>
  </li>
</div>
