<% provide(:title, "Produtos") %>
<div class="row center">
  <h4><%= link_to "Adicione produtos", new_product_path %></h4>
  <h1>Quem quer queijo?</h1>
  <ul>
    <%= render @products %>
  </ul>
</div>
