<% provide(:title, "Novo Produto") %>
<div class="row">
  <h4><%= link_to "â† Lista de queijos", products_path %></h4>
  <div class="col-md-6 col-md-offset-3">
    <%= render "product_form" %>
  </div>
</div>
