<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Queijos da Dona Ana", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <li><%= link_to "Sign up",   "#"  %></li>
        <li><%= link_to "Login",   "#"  %></li>
        <li>
          <%= link_to "#" do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
